  /* Add a black background color to the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #330033;
    margin: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .topnav .user {
    float: right;
  }

  #image {
    margin-bottom: 15px;
  }

  #image-preview-div {
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items:center;
    justify-content: center;
  }

  .error {
    color: red;
  }

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }

  @media screen and (max-width: 1000px) {
    .bigger-margin {
      width: 100%;
    }
  }