body {
  margin: 0;
}

/* 
    NAVIGATION BAR
    */

/* Add a black background color to the top navigation bar */

.topnav {
  overflow: hidden;
  background-color: #330033;
  margin: 0;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
}



/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav .user {
  float: right;
}

.table {
  display: table;
  width: 100%;
}

input, button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#navBarLogo {
  width: 1.5rem;
  height: 1.5rem;
}

/* 
SIDE BAR 
*/

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

#sidebar #sendMessage {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: white;
  padding: 10px;
  display: block;
}

a, a:hover, a:focus, #sendMessage ,#sendMessage:hover #sendMessage:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #330033;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #58195f;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #58195f;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sendMessage:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: #fff;
  background: #58195f;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}