body {
    margin: 0;
}

/*
NAVIGATION BAR
Created by Samuel Bahlibi
Made on 04/04/2020
*/

/* Add a black background color to the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #330033;
    margin: 0;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .user {
    float: right;
}

.table {
    display: table;
    width: 100%;
}

/* .tablecell
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
} */

input, button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*
Search Bar
*/

input.form-control {
    background-color: #330033!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

select.form-control {
    background: #58195f!important;
    color: white!important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*
Department Categories
*/

.department {
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/*
Display Items
*/

.itemContainer {
    background: #4b1352;
    width: 325px;
    height: 400px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.thumbnail {
    width: 295px;
    height: 200px;
    border-radius: 10px;
}

.itemname {
    color: white;
    text-align: center;
}

#itemBg {
    background: #330033;
    border-radius: 10px;
}

#under-search {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

#results {
    grid-column-start: 1;
}

.post-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.post-border {
    background: #58195f;
    border-radius: .5rem;
}

.listing {
    color: white;
}

h3 {
    text-align: center;
    font-size: 1rem;
}

img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: .5rem;
}

p {
    text-align: center;
}

.fitting {
    display: grid;
    grid-template-columns: 70% 30%;
}

#navBarLogo {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .post-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
}